<div class="contact-page-container">


  <div class="form-container">

    <h1 class="contact-title">Contact Us</h1>

    <form class="contact-form" [formGroup]="contactForm" (submit)="submit()">

      <mat-form-field class="form-field" appearance="outline">
        <mat-label> Name</mat-label>
        <input matInput formControlName="name" required type="text">
        <mat-error *ngIf="contactForm.controls.name.touched && contactForm.controls.email.invalid">
          <span *ngIf="contactForm.controls.name.errors?.required">This field is mandatory.</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-field" appearance="outline">
        <mat-label> Family Name</mat-label>
        <input matInput formControlName="surName" required type="text">
        <mat-error *ngIf="contactForm.controls.surName.touched && contactForm.controls.email.invalid">
          <span *ngIf="contactForm.controls.surName.errors?.required">This field is mandatory.</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-field" appearance="outline">
        <mat-label> E-mail</mat-label>
        <input matInput formControlName="email" required type="text">
        <mat-error *ngIf="contactForm.controls.email.touched && contactForm.controls.email.invalid">
          <span *ngIf="contactForm.controls.email.errors?.required">This field is mandatory.</span>
          <span *ngIf="contactForm.controls.email.errors?.pattern">This field is invalid.</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Position</mat-label>
        <mat-select required formControlName="position">
          <mat-option value="Software Engineer">Software Engineer</mat-option>
          <mat-option value="Designer">Designer</mat-option>
          <mat-option value="Quality Assurance">Quality Assurance</mat-option>
        </mat-select>

        <mat-error *ngIf="contactForm.controls.position.touched && contactForm.controls.position.invalid">
          <span *ngIf="contactForm.controls.position.errors?.required">This field is mandatory.</span>
        </mat-error>

      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="birthDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="contactForm.controls.birthDate.touched && contactForm.controls.position.invalid">
          <span *ngIf="contactForm.controls.birthDate.errors?.required">This field is mandatory.</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Your Comment</mat-label>
        <textarea matInput formControlName="comment" required type="text"></textarea>
        <mat-error *ngIf="contactForm.controls.comment.touched && contactForm.controls.email.invalid">
          <span *ngIf="contactForm.controls.comment.errors?.required">This field is mandatory.</span>
        </mat-error>
      </mat-form-field>

      <button [disabled]="!contactForm.valid" class="contact-button" mat-raised-button color="primary" type="submit">
        Submit
      </button>

      <mat-error *ngIf="formSubmitError">
        <span>{{formSubmitError}}</span>
      </mat-error>


    </form>

  </div>

</div>
