.contact-page-container {
  text-align: center
}

.form-container {
  width: 400px;
  margin: 0px auto;
  margin-top: 7%
}

.form-field {
  display: block
}

.contact-title{
  margin: 10px;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  letter-spacing: -1px;
  text-transform: capitalize;
  color: #313131;
}
.contact-form{
  display: flex;
  align-content: center;
  flex-direction: column;
  margin-top: 20px;
}

.contact-button{
  margin-top: 10px;
}
