<div class="home-page-content">
  <mat-icon class="home-icon">contact_support</mat-icon>
  <h1 class="home-title">Contact App</h1>
  <p class="home-info-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
    molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
    numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
    quia. Quo neque error repudiandae fuga? Ipsa laudantium molestias eos
    sapiente officiis modi at sunt excepturi expedita sint?</p>

  <button routerLink="/contact" class="home-button" mat-button>Contact US</button>

</div>

