.home-title{
  margin: 10px;
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  letter-spacing: -1px;
  text-transform: capitalize;
  color: #313131;
  margin-top: 5%;
}

.home-info-text{
  margin: 0px 50px;
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.3;
  margin-top: 5%;
}

.home-page-content{
  margin: auto;
  margin-top: 5%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.home-icon{
  transform: scale(4);
  color: #16a085;
}

.home-button{
  margin-top: 3%;
  background-color: #16a085;
  color: white;
  font-size: 18px;
  padding: 5px 15px;
}
